{% extends 'baseAdmin.html.twig' %}
{% block metaTitle %}Product view {% endblock %}
{% block menu_catalogue_active %}class="active"{% endblock %}
{% block menu_products_active %}class="active"{% endblock %}
{% block body %}
    <!-- page title -->
    <header id="page-header">
        <h1>Products</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('products') }}">Products</a></li>
            <li class="active">View Product</li>
        </ol>
    </header>
    <!-- /page title -->
    <div id="content" class="padding-20">
        <!--
                                PANEL CLASSES:
                                    panel-default
                                    panel-danger
                                    panel-warning
                                    panel-info
                                    panel-success

                                INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                                        All pannels should have an unique ID or the panel collapse status will not be stored!
                            -->
        <div id="product" class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left"><a href="{{ path('products') }}" title="Back to Products"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a></div>
                <strong class="center-text">{% if previousProduct %}<a href="/admin/products/view/{{ previousProduct }}" title="Previous Product"><i class="fa fa-chevron-left" aria-hidden="true"></i> previous |</a> {% endif %}Product {{ product.id }} - {{ product.name }}{% if nextProduct %} <a href="/admin/products/view/{{ nextProduct }}" title="Next Product">| next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>{% endif %}</strong>
            </div>

            {{ form_start(formProduct) }}

            <!-- panel content -->
            <div class="panel-body">
                <div id="top-bar-action" class="alert alert-info margin-bottom-30 action-table">
                    <div id="js-display" class="pull-left col-md-3col-sm-6">
                        <label class="switch switch-info switch-round">Display
                            <input type="checkbox"
                                   {% if product.display == 1 %}checked=""{% endif %}
                                   data-url="{{ path('products_change_display_or_featured_product', {'id': product.id, 'display': product.display + 1}) }}"
                            >
                            <span class="switch-label" data-on="YES" data-off="NO"></span>
                        </label>
                    </div>
                    <div id="js-featured" class="pull-left col-md-3col-sm-6">
                        <label class="switch switch-info switch-round">Featured
                            <input type="checkbox"
                                   {% if product.featured == 1 %}checked=""{% endif %}
                                   data-url="{{ path('products_change_display_or_featured_product', {'id': product.id, 'featured': product.featured + 1}) }}"
                            >
                            <span class="switch-label" data-on="YES" data-off="NO"></span>
                        </label>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Save Product Changes</button>
                    </div>
                </div>
            </div>
            <!-- /panel content -->

            <div class="col-md-6 top-space">

                <!-- -- -->
                <div id="main-details" class="panel panel-default">

                    <div class="panel-heading">

                        <span class="elipsis"><!-- panel title -->
                            <strong>Main Details</strong>
                        </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="name" class="control-label required">Name*</label>
                                    <div id="charNumName" class="pull-right"></div>
                                    {{ form_row(formProduct.name, {'value' : product.name }) }}
                                </div>
                                <div class="form-group">
                                    <label for="sku" class="control-label required">SKU*</label>
                                    {{ form_row(formProduct.sku, {'value' : product.sku }) }}
                                </div>
                                <div class="form-group">
                                    <label for="price" class="control-label required">Price*</label>
                                    {{ form_row(formProduct.price, {'value' : product.price }) }}
                                </div>
                                <div class="form-group">
                                    <label for="weight" class="control-label required">Weight*</label>
                                    {{ form_row(formProduct.weight, {'value' : product.weight }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / -->

            </div>

            <div class="col-md-6 top-space">

                <!-- -- -->
                <div id="seo-details" class="panel panel-default">

                    <div class="panel-heading">

                        <span class="elipsis"><!-- panel title -->
                            <strong>SEO Details</strong>
                        </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <span data-toggle="tooltip" title="If not entered, it will be self-generated">
                                        <label for="url" class="control-label required">URL Key</label>
                                        {{ form_row(formProduct.slug, {'value' : product.slug }) }}
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="metaTitle" class="control-label required">Meta Title</label>
                                    <div id="charNumTitle" class="pull-right"></div>
                                    {{ form_row(formProduct.metaTitle, {'value' : product.metaTitle }) }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / -->

            </div>

            <div class="col-md-12">

                <!-- -- -->
                <div id="seo-details-2" class="panel panel-default">

                    <div class="panel-heading">

                        <span class="elipsis"><!-- panel title -->
                            <strong>SEO Details</strong>
                        </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="metaKeywords" class="control-label required">Meta Keywords</label>
                                    {{ form_row(formProduct.metaKeywords, {'value' : product.metaKeywords }) }}
                                </div>
                                <div class="form-group">
                                    <label for="metaDescription" class="control-label required">Meta Description</label>
                                    <div id="charNumDesc" class="pull-right"></div>
                                    {{ form_row(formProduct.metaDescription, {'value' : product.metaDescription }) }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / -->

            </div>

            <div class="col-md-6">

                <!-- -- -->
                <div id="table-details" class="panel panel-default">

                    <div class="panel-heading">

                        <span class="elipsis"><!-- panel title -->
                            <strong>Specification Details</strong>
                        </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div data-toggle="tooltip" title="If not entered, default to 'Video Available'">
                                        <label for="videoTitle" class="control-label required">Video Title</label>
                                        <div class="pull-right charNumSpec"></div>
                                        {{ form_row(formProduct.videoTitle) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="videoLink" class="control-label required">Video Link</label>
                                    <div class="pull-right charNumSpec"></div>
                                    {{ form_row(formProduct.videoLink) }}
                                </div>
                                <div class="form-group">
                                    <div data-toggle="tooltip" title="If not entered, default to N/A">
                                        <label for="capacityTable" class="control-label required">Capacity</label>
                                        <div class="pull-right charNumSpec"></div>
                                        {{ form_row(formProduct.capacityTable, {'value' : product.capacityTable }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div data-toggle="tooltip" title="If not entered, default to N/A">
                                        <label for="contentsTable" class="control-label required">Contents</label>
                                        <div class="pull-right charNumSpec"></div>
                                        {{ form_row(formProduct.contentsTable, {'value' : product.contentsTable }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div data-toggle="tooltip" title="If not entered, default to N/A">
                                        <label for="productCodeTable" class="control-label required">Product Code</label>
                                        <div class="pull-right charNumSpec"></div>
                                        {{ form_row(formProduct.productCodeTable, {'value' : product.productCodeTable }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div data-toggle="tooltip" title="If not entered, default to N/A">
                                        <label for="weightTable" class="control-label required">Weight</label>
                                        <div class="pull-right charNumSpec"></div>
                                        {{ form_row(formProduct.weightTable, {'value' : product.weightTable }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div data-toggle="tooltip" title="If not entered, default to N/A">
                                        <label for="dimensionTable" class="control-label required">Packed Dimensions</label>
                                        <div class="pull-right charNumSpec"></div>
                                        {{ form_row(formProduct.dimensionTable, {'value' : product.dimensionTable }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div data-toggle="tooltip" title="If not entered, default to N/A">
                                        <label for="descriptionTable" class="control-label required">Description</label>
                                        <div class="pull-right charNumSpec"></div>
                                        {{ form_row(formProduct.descriptionTable, {'value' : product.descriptionTable }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div data-toggle="tooltip" title="If not entered, default to N/A">
                                        <label for="packQuantityTable" class="control-label required">Pack quantity</label>
                                        <div class="pull-right charNumSpec"></div>
                                        {{ form_row(formProduct.packQuantityTable, {'value' : product.packQuantityTable }) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-6">

                <!-- -- -->
                <div id="image-details" class="panel panel-default">

                    <div class="panel-heading">

                            <span class="elipsis"><!-- panel title -->
                                <strong>Image Details</strong>
                            </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <label for="image" class="control-label required">Image</label>
                                {{ form_row(formProduct.image) }}
                                <p>
                                    <img src="{{ asset('assets/images/' ~ product.imageName) | imagine_filter('thumbnail') }}" height="45" width="45">
                                    <img src="{{ asset('assets/images/' ~ product.imageName) | imagine_filter('basket') }}" height="80" width="80">
                                    <img src="{{ asset('assets/images/' ~ product.imageName) | imagine_filter('product') }}" height="300" width="300">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / -->
            </div>

            <div class="col-md-6">

                <!-- -- -->
                <div id="product-details" class="panel panel-default">

                    <div class="panel-heading">

                    <span class="elipsis"><!-- panel title -->
                        <strong>Product Descriptions</strong>
                    </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <label for="shortDescription" class="control-label required">Short Description</label>
                                {{ form_row(formProduct.shortDescription, {'value' : product.shortDescription|raw }) }}
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <label for="description" class="control-label required">Description</label>
                                {{ form_row(formProduct.description, {'value' : product.description|raw }) }}
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / -->

            </div>

            <div class="col-md-4">

                <!-- -- -->
                <div id="allocation-details" class="panel panel-default">

                    <div class="panel-heading">

                    <span class="elipsis"><!-- panel title -->
                        <strong>Dropshipper*</strong>
                    </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                {{ form_row(formProduct.dropshipper) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <!-- -- -->
                <div id="related-products" class="panel panel-default">

                    <div class="panel-heading">

                    <span class="elipsis"><!-- panel title -->
                        <strong>Categories Allocation</strong>
                    </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover table-responsive" id="datatable_sample">
                                                <thead>
                                                <tr>
                                                    <th class="col-sm-8">Category Name</th>
                                                    <th class="col-sm-2 text-center">Delete</th>
                                                </tr>
                                                </thead>

                                                <tbody
                                                        data-prototype="{{ form_widget(formProduct.categories.vars.prototype)|e('html_attr') }}"
                                                        data-index="{{ formProduct.categories|length }}"
                                                >
                                                {% for relatedCategoryForm in formProduct.categories|sort %}
                                                    <tr class="odd gradeX js-category-item">
                                                        <td>{{ form_row(relatedCategoryForm.category) }}</td>
                                                        <td>
                                                            <a href="#" class="js-remove-category size-25">
                                                                <center><span class="fa fa-close"></span></center>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                <tr class="odd gradeX">
                                                    <td>
                                                        <a href="#" class="js-add-category">
                                                            <span class="fa fa-plus-circle"></span>
                                                            Add Another Category
                                                        </a>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / -->
            </div>

            <div class="col-md-4">

                <!-- -- -->
                <div id="related-products" class="panel panel-default">

                    <div class="panel-heading">

                    <span class="elipsis"><!-- panel title -->
                        <strong>Related Products</strong>
                    </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover table-responsive" id="datatable_sample">
                                                <thead>
                                                <tr>
                                                    <th class="col-sm-8">Related Product Name</th>
                                                    <th class="col-sm-2">Related Product Position</th>
                                                    <th class="col-sm-2 text-center">Delete</th>
                                                </tr>
                                                </thead>

                                                <tbody
                                                        data-prototype="{{ form_widget(formProduct.parentProducts.vars.prototype)|e('html_attr') }}"
                                                        data-index="{{ formProduct.parentProducts|length }}"
                                                >

                                                {% for relatedInBetweenProductForm in formProduct.parentProducts|sort %}

                                                    <tr class="odd gradeX js-product-item">
                                                        <td>{{ form_row(relatedInBetweenProductForm.childProduct) }}</td>
                                                        <td>{{ form_row(relatedInBetweenProductForm.position) }}</td>
                                                        <td>
                                                            <a href="#" class="js-remove-product size-25">
                                                                <center><span class="fa fa-close"></span></center>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                <tr class="odd gradeX">
                                                    <td>
                                                        <a href="#" class="js-add-product">
                                                            <span class="fa fa-plus-circle"></span>
                                                            Add Another Related Product
                                                        </a>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / -->
            </div>

            {{ form_end(formProduct) }}

            <div class="col-md-12">

                <!-- -- -->
                <div id="related-products" class="panel panel-default">

                    <div class="panel-heading">

                    <span class="elipsis"><!-- panel title -->
                        <strong>DELETE</strong>
                    </span>

                        <!-- right options -->
                        <ul class="options pull-right list-inline">
                            <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Colapse"></a></li>
                            <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
                        </ul>
                        <!-- /right options -->

                    </div>


                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <a href="{{ path('products_delete', {'id': product.id }) }}" title="Delete product" ><button type="button" class="btn btn-danger btn-lg btn-block">DELETE PRODUCT</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / -->
            </div>

        </div>
        <!-- /PANEL -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('min/index.php?f=assets/backend-client/plugins/jquery/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('min/index.php?f=assets/backend-client/plugins/selectize/selectize.min.js') }}"></script>

    <script src="{{ asset('min/index.php?f=assets/backend-client/js/custom/ProductView.js') }}"></script>

    <script src="{{ asset('min/index.php?f=assets/backend-client/js/custom/NewViewCatProd.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var $product = $('#product');

            var newViewCatProd = new NewViewCatProd($product);
            var productView = new ProductView($product);
        });

    </script>
{% endblock %}
