<style type="text/css">
    body,
    html,
    .body {
        background: #f3f3f3 !important;
    }
    .container.header {
        background: transparent !important;
    }
    button {
        font-size: 30px;
        background: #ffce15;
    }
    .body-drip {
        border-top: 8px solid #663399;
    }
</style>



<container class="header">

    <spacer size="16"></spacer>

    <row class="collapse">
        <columns>
            <a href="{{ absolute_url(path('index')) }}"><img src="{{ absolute_url(asset('assets/images/logo.png')) }}" alt="{{ company_name }} Logo" width="300px"></a>
        </columns>
    </row>
</container>

<container class="body-drip">

    <row>
        <columns>
            <h4 class="text-center">Forgot your password?</h4>
            <p class="text-center"><i>If you received this email in error you do not need to take any action.</i></p>
        </columns>
    </row>

    <hr/>

    <row>
        <columns>
            <p class="text-center">Don't worry! Click on the link below to reset your password right away.</p>
            <center>
                <a href="{{ absolute_url(path('retrieve_password', {'email': email, 'token': token})) }}"><button class="success">RESET MY PASSWORD!</button></a>
            </center>
        </columns>
    </row>

    <row class="collapsed footer">
        <columns>
            <spacer size="16"></spacer>
            <p class="text-center">&copy; All Rights Reserved, {{ company_name }}
            <center>
                <menu>
                    <item><a href="{{ social_facebook }}"><img src="{{ absolute_url(asset('assets/images/social-icons/facebook.png')) }}" alt="Facebook"></a></item>
                    <item><a href="{{ social_twitter }}"><img src="{{ absolute_url(asset('assets/images/social-icons/twitter.png')) }}" alt="Twitter"></a></item>
                    <item><a href="{{ social_linkedin }}"><img src="{{ absolute_url(asset('assets/images/social-icons/linkedin.png')) }}" alt="Linkedin"></a></item>
                    <item><a href="{{ social_gplus }}"><img src="{{ absolute_url(asset('assets/images/social-icons/gplus.png')) }}" alt="Google Plus"></a></item>
                </menu>
            </center>
        </columns>
    </row>

</container>